body{
	margin:0;
	padding:0;
	
	display:flex;
	align-items:center;
	justify-content:center;
	
	height:100vh;
	width:100vw;
	
	background-color:black;
	
	font-family:Arial;
}

h1{
	color:#fff;
}

main{
	width:40em;
	max-width:100%;
	
	background-color:#4c5a63;
	
	position:absolute;
}

#canvas{
	display:block;
	box-sizing:border-box;
	
	background-color:gray;
	image-rendering:pixelated;
	
	background-size:contain;
	background-repeat:no-repeat;
	
	width:100%;
}

header{
	height:5em;
	padding:.5em;
	box-sizing:border-box;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

/* Controls */
footer{
	height:6em;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.control{
	height:5em;
	width:5em;
	
	background-color:white;
	
	border:1px solid gray;
	box-sizing:border-box;
	
	background-image:url('game/controls.svg');
	background-repeat:no-repeat;
	background-size:100%;
}

#control-action{
	border-radius:100%;
	background-position:50% 100%;
}

#control-movement{}

#control-left{
	float:left;
	
	border-top-left-radius:100%;
	border-bottom-left-radius:100%;
	
	background-position:50% 50%;
}

#control-right{
	float:left;
	
	border-top-right-radius:100%;
	border-bottom-right-radius:100%;
	
	background-position:50% 0%;
}

.control-pressed{
	background-color:#d0d1d3;
}

#control-volume-settings{
	font-weight:bold;
	color:#fff;
	text-align:center;
}

#control-volume-settings > p{
	margin:0;
}